/* h1 {
  text-shadow: 2px 2px 3px #000;
  color: #ff7300d3;
} */

.about-me {
  text-align: left;
}

.jumbotron {
  /* opacity: 0.75; */
  font-size: 20px;
  overflow: hidden;
}

.img-thumbnail {
  float: left;
  margin: 5px 20px;
}
