h1 {
  text-shadow: 1px 1px 2px #535353;
}

.about-me {
  text-align: left;
}

.jumbotron {
  font-size: 20px;
  overflow: hidden;
}

.img-thumbnail {
  float: left;
  margin: 5px 20px;
}
